<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars App</title>
    <link rel="stylesheet" href="{% static 'css/cars.css' %}" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/owners">Owners</a></li>
        <li><a href="/add-car">Add Car</a></li>
        <li><a href="/edit-car">Edit Car</a></li>
      </ul>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
